<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	meta(name='viewport', content='width=device-width, initial-scale=1')
	title La República
	link(rel="stylesheet", href="assets/css/bootstrap.min.css")
	link(rel="stylesheet", href="assets/css/bootstrap-theme.min.css")
	link(rel="stylesheet", href="assets/css/font-awesome.min.css")
	link(rel="stylesheet", href="assets/sass/main.css")
	link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Oswald")
body
	mixin mario
		img(src="assets/image/img-columnistas.jpg", alt="")
		p.nombre Mario Vargas LLosa
		p.tema Megarrenuncia Apulpinante
	mixin augusto
		img(src="assets/image/augusto.png", alt="")
		p.nombre Augusto Álvarez rodrich
		p.tema Respuesta a una derrota estridente
	mixin barras(name)
			.text-center
				.linea
				p.texto1= name
	mixin marco(name1, name2, name3, name4)
		.marco
			p.chico Hace 1 hora 12 mins
			h4= name1
			.col-md-6
				img(src="assets/image/img_news.jpg", alt="")
			.col-md-10
				p= name2
				span
					img.social(src="assets/image/social.png", alt="")
				span 
					img(src="assets/image/bullet.gif", alt="")
				span
					img(src="assets/image/ico_comment.png", alt="")
				span= name3
				span 
					img(src="assets/image/bullet.gif", alt="")
				span= name4
				span 
					img(src="assets/image/bullet.gif", alt="")
	mixin noticias
		+marco('Emma Watson protagonizará La bella y la bestia | VIDEO', 'La actriz Emma Watson fue confirmada por Disney como la protagonista de La bella y la bestia en la versión de carne y hueso.', '10', 'ESPECTÁCULOS' )
		+marco('Roque Benavides respalda proyecto Tía María y espera que Conga se socialice', 'Zenaida Condori Contreras Arequipa Para el presidente de la Compañía de Minas Buenaventura, Roque Benavides, el proyecto Tía María, que promueve Southern Perú, ya debe...', '0', 'AREQUIPA')
		+marco('Youtube: hombre finge ahogarse y su perro lo rescata | FOTOS', 'La actriz Emma Watson fue confirmada por Disney como la protagonista de La bella y la bestia en la versión de carne y hueso.', '10', 'ESPECTÁCULOS')
		+marco('Real Madrid: Cristiano Ronaldo fue sancionado con dos partidos y sí estará contra el Atlético de Madrid', 'Despues de la pésima actitud de Cristiano Ronaldo, al agredir a Edimar en el partido del cuadro madridista contra el Córdoba, el Comité de Competición ha llegado a la...', '0', 'España')
	mixin riquelme(src, titular)
		.row
			.col-md-6
				img(src=src)
			.col-md-10.text-left
				p= titular
	mixin bloguero(name1, name2)
		.row
			.col-md-4
				img(src="assets/image/img_blogueros.jpg", alt="")
			.col-md-12
				p.chico= name1
				p.negro= name2
	mixin impreso(src, name1, name2)
		.row
			.col-md-8
				img(src=src)
			.col-md-8.text-left.impre
				p= name1
				p.rojo= name2
	mixin subtitulo (text)
		h4.columnistas-subtitulo= text
			img.arrow-cols(src="assets/image/double-arrow-bottom.png", alt="arrow")

	include _header.jade

	section.titulo
		.container.text-center
			h1 GUERRA EN LA MUNICIPALIDAD DE LIMA METROPOLITANA
	section.corte
		.container.text-center
			.row
				.col-md-5
				.col-md-6
					.col-md-5
						span
							img.red(src="assets/image/social.png", alt="")
					.col-md-6
						span 
							img(src="assets/image/bullet.gif", alt="")
						span.chico Hace 12 minutos
					.col-md-5
						span 
							img(src="assets/image/bullet.gif", alt="")
						span.chico POLÍTICA
				.col-md-5
	section.titular
		.container
			.row
				.col-md-8
					.principal
						.sombra
							h2 JNE impulsará campaña en favor de la aprobación de la Reforma Electoral
				.col-md-8
					.secundario1
						.sombra
							h3 Martín Belaunde Lossio: Empresas vinculadas al empresario contrataron por S/. 3 000 millones | FOTOS
					.secundario2
						.sombra
							h3 Sub 20: Perú vs. Paraguay: bicolor empató 1-1 y pasó al hexagonal final del Sudamericano | VIDEO
	section.barra
		.container
			+barras('COLUMNISTAS')
	section.columnistas.text-center
		.container
			.text-center.centro
				.caja
					+mario
				.caja
					+augusto
				.caja
					+mario
				.caja
					+augusto
				.caja
					+mario
				.caja
					+augusto
			img(src="assets/image/puntos.png", alt="")
	section.especiales
		.container
			.row
				.col-md-5.text-center
					.cuadro
						p.rojo Mercado de Pases 2015
						.especial1.text-left
							.sombra
								p Mercado de pases 2015:altas; bajas y rumores de los equipos 
						p.normal Todo sobre Mercado de Pases 2015
					.cuadro
						p.rojo Champions League
						.especial2.text-left
							.sombra
								p ¿Podrá el Real Madrid conseguir la "Undécima"?
						p.normal Todo sobre Champions League
				.col-md-5.text-center
					.cuadro
						p.rojo Régimen laboral juvenil
						.especial3.text-left
							.sombra
								p Ollanta Humala: Los que han perdido, más allá de tambores panderas, son 2 millones de jóvenes | VIDEO 
						p.normal Todo sobre Régimen laboral juvenil
					.cuadro
						p.rojo Super Bowl
						.especial4.text-left
							.sombra
								p Super Bowl XLIX: New England Patriots se consagró campeón la NFL al ganar 28-24 a Seahawks | VIDEO
						p.normal Todo sobre Super Bowl
				.col-md-6
					img.todo(src="assets/image/banner-aside-home.jpg", alt="")
	section.ultimasnoticias
		.container
			.row
				.col-md-10
					p.plomo ÚLTIMAS NOTICIAS
						span
							img(src="assets/image/double-arrow-bottom.png", alt="")
					+noticias
					+noticias
					+noticias
					+noticias
					+noticias
					+noticias
					+noticias
					+noticias
					+marco('Roque Benavides respalda proyecto Tía María y espera que Conga se socialice', 'Zenaida Condori Contreras Arequipa Para el presidente de la Compañía de Minas Buenaventura, Roque Benavides, el proyecto Tía María, que promueve Southern Perú, ya debe...', '0', 'AREQUIPA')
					+marco('Youtube: hombre finge ahogarse y su perro lo rescata | FOTOS', 'La actriz Emma Watson fue confirmada por Disney como la protagonista de La bella y la bestia en la versión de carne y hueso.', '10', 'ESPECTÁCULOS')
					+marco('Real Madrid: Cristiano Ronaldo fue sancionado con dos partidos y sí estará contra el Atlético de Madrid', 'Despues de la pésima actitud de Cristiano Ronaldo, al agredir a Edimar en el partido del cuadro madridista contra el Córdoba, el Comité de Competición ha llegado a la...', '0', 'España')
					+marco('Roque Benavides respalda proyecto Tía María y espera que Conga se socialice', 'Zenaida Condori Contreras Arequipa Para el presidente de la Compañía de Minas Buenaventura, Roque Benavides, el proyecto Tía María, que promueve Southern Perú, ya debe...', '0', 'AREQUIPA')
				.col-md-6
					.cuadrito.text-center
						img(src="assets/image/img_sucribe.png", alt="")
						.boletin
							p Suscríbete a nuestro boletín
							input(type="text")
							button SUSCRIBIRSE
					.aweita.text-center
						img(src="assets/image/logo_aweita.jpg", alt="")
						.row
							+riquelme('assets/image/img_aweita.jpg','Juan Román Riquelme, el adiós al Último 10 de Argentina')
							+riquelme('assets/image/img_aweita.jpg','LewisCarroll: un día como hoy nació el autor de A')
							+riquelme('assets/image/img_aweita.jpg','Juan Román Riquelme, el adiós al Último 10 de Argentina')
							+riquelme('assets/image/img_aweita.jpg','Gameplay de Dead Kings, el descargable premium de Assassins')
						p.mas Más en 
							span.morado Aweita.pe
					.barra
						+barras('FOTOS DESTACADAS')
					img.todo.jov(src="assets/image/img_fotodes_prominent.jpg", alt="")
					p.plomo Lineas de Nasca: admiten prisión preventiva de 6 meses para activista de Greenpeace | FOTOS
					.abajo
						+riquelme('assets/image/img_fotodes.jpg','Uchuraccay: El pueblo que recibe con flores a quienes llegan a pie | FOTOS')
						+riquelme('assets/image/img_fotodes.jpg','Alianza Lima vs Fénix: íntimos ganaron 1-0 en "Noche Blanquiazul" | VIDEO Y FOTOS')
						+riquelme('assets/image/img_fotodes.jpg','Tomás Berdych derrotó 3-0 a Rafael Nadal y avanzó en el Austrial Open | FOTOS')
					.barra
						+barras('ESPECIALES')
					.abajo.text-center
						.blanco
							p Régimen laboral junevil
						.blanco1
							p COP20
						.blanco2
							p Concentración de Medios
						.blanco3
							p Especies peruanas en peligro de extinción
					.barra1
						+barras('CARLINCATURA DEL DÍA')
					.abajo.text-center
						h4 Carlincaturas 30-01-2015
						img(src="assets/image/img_carlincatura_sd.jpg", alt="").
						p.rojo Todas las Carlincaturas
					.barra
						+barras('NUESTROS BLOGUEROS')
					.abajo
						+bloguero('Augusto Álvarez Rodrich', 'Charlie Hebdo, historia que no debe respetirse')
						+bloguero('Augusto Álvarez Rodrich', 'El único pulpin es Humala')
						+bloguero('Augusto Álvarez Rodrich', 'Dios ha muerto... tengo las manos')
						+bloguero('Ya lo pasado, PASADO', 'El único pulpin es Humala')
						+bloguero('Augusto Álvarez Rodrich', 'Charlie Hebdo, historia que no debe respetirse')
						+bloguero('Augusto Álvarez Rodrich', 'El único pulpin es Humala')
						+bloguero('Augusto Álvarez Rodrich', 'Dios ha muerto... tengo las manos')
						+bloguero('Ya lo pasado, PASADO', 'El único pulpin es Humala')
						.text-center
							p.rojo Todos los blog
					.barra1
						+barras('EDICIÓN IMPRESA')
					.abajo.text-center
						h4 La República - Lima
						img.todo(src="assets/image/img_impreso_sd_prominent.jpg", alt="")
						+impreso('assets/image/img_impreso_sd.jpg', 'Extorcionan a menores en colegios', 'La República - Norte')
						+impreso('assets/image/img_impreso_sd.jpg', 'LLuvias en Arequipa inundan casas y causan caos en calles', 'La República - Sur')
						+impreso('assets/image/img_impreso_sd.jpg', 'El Ojo de Oblitas', 'Domingo')
					.barra
						+barras('INFOGRAFÍAS')
					.abajo.text-center
						.blanco
							p Histórico cierre de frontera
						.blanco3
							p Evolución de la pobreza e indigencia en América Latina
					.cuadrito1.text-center
						img(src="assets/image/img_pregunta.png", alt="")
						.boletin
							p.negrita La pregunta de hoy
							p ¿Cree usted que la premier Ana Jara debe renunciar?
							.puntos.text-center
								label.radio-inline Sí
									input(type="radio", name="inlineRadioOptions", id="inlineRadio1", value="option1") 
								label.radio-inline No
									input(type="radio", name="inlineRadioOptions", id="inlineRadio1", value="option1")
							button VOTAR
							p.rojo Ver resultados
						.boletin
							p.negrita La pregunta de ayer
							p ¿Cree usted que se militarizó la conmemoración del fallo de La Haya en Lima?
							p.rojo Ver preguntas pasadas						
					.aweita.text-center
						img(src="assets/image/logo_libero.jpg", alt="")
						.row
							+riquelme('assets/image/img_aweita.jpg','Fiorentina empató 1-1 en su visita al Genoa con gran actuación de Juan Vargas [VIDEO]')
							+riquelme('assets/image/img_aweita.jpg','Jefferson Farfán: Schalke 04 tampoco sabe cuándo volverá a las canchas[FOTOS]')
							+riquelme('assets/image/img_aweita.jpg','Barcelona vs Villarreal: culés ganaron 3-2 con goles de Lionel Messi y Neymar por la Liga BBVA [VIDEO]')
							+riquelme('assets/image/img_aweita.jpg','Perú cayó 3-1 ante Colombia por el hexagonal final del Sudamericano Sub 20 [VIDEO/FOTOS]')
						p.mas1 Más en 
							span.rosa Libero.pe
					.aweita.text-center
						img(src="assets/image/logo_popular.jpg", alt="")
						.row
							+riquelme('assets/image/img_aweita.jpg','Joshua Ivanoff está loco por olor de Melissa Loza')
							+riquelme('assets/image/img_aweita.jpg','Corinthians:Paolo Guerrero dedica su gol a Alondra García')
							+riquelme('assets/image/img_aweita.jpg','Angie Arizaga es amenazada de muerte (VIDEO)')
							+riquelme('assets/image/img_aweita.jpg','Philip Seymour Hoffman: Un año sin el premiado actor(VIDEO)')
						p.mas2 Más en 
							span.rojo elPopular.pe
					.aweita.text-center
						img(src="assets/image/logo_wapa.jpg", alt="")
						.row
							+riquelme('assets/image/img_aweita.jpg','¿Cómo renovar el guardarropa de los más pequeños en este verano')
							+riquelme('assets/image/img_aweita.jpg','Shakira y Piqué ¡Ya son padres por segunda vez!')
							+riquelme('assets/image/img_aweita.jpg','Ted 2: Mira el trailer de la cinta')
							+riquelme('assets/image/img_aweita.jpg','Cómo usar zapatos altos sin dolor')
						p.mas1 Más en 
							span.rosa Wapa.pe
					.cuadrito2.text-center
						img.icono(src="assets/image/img_reporteroc.png", alt="")
						.boletin
							p.negrita Reportero ciudadano
							img(src="assets/image/img_sd_reporteroc.jpg", alt="")
							p.negra Estacionamiento indebido
							p.largo ¿Está permitido que dejen su auto en reiteradas ocasiones toda la noche en la puerta de tu casa? Placa DG6232, eso que antes lo dejaba entre la vereda y mi puerta.
						button ENVIAR FOTOS
						p.rojo Más fotos